.current {
  color: green;
}

blockquote {
  margin:0 4em;
}

#pattern-language-summary {
  width:700px;
  margin:0 auto 0 auto;
}
#pattern-language-summary p, #pattern-language-summary p.group {
  font-style:normal;
}
#pattern-language-summary p.section {
  font-style:italic;
  font-size:120%;
  line-height:1.5em;
}
#pattern-language-summary li {
  list-style-type:none;
}

article.patterns {
  width:900px;
  margin:20px auto 40px auto;
  padding:0;
  font-size:1.2em;
  line-height:1.7em;
}
article.patterns h1 {
  color:#333;
  font-weight:normal;
  margin:1.5em 0; 
  padding:0;
  text-align:center;
  text-transform:lowercase !important;
  font-variant:small-caps !important;
}
article.patterns h1 span.num {
  padding-right:12px;
}

article.patterns h3 {
  color:#333;
  font-weight:normal;
  font-style: normal;
  text-transform:lowercase !important;
  font-variant:small-caps !important;
}

.context {
  font-style:italic;
}
.context p:before {
  content:"...";
  letter-spacing:+6px;
  }

/*
div.pattern {
  text-align:center;
  padding:12px 0 2px 0;
}
div.pattern:before {
  content:"\2666 \2666 \2666";
}
div.pattern:after {
  content:"\2666 \2666 \2666";
}
*/

.forces {
}

.problem {
  text-align:left;
  font-weight:bold;
  margin-bottom:2em;
}
.problem:before {
  content:url('images/divider.gif');
  position:relative;
  padding-left:367px;
  top:-12px;
}

.solution {
  text-align:left;
  font-weight:bold;
  margin-top:1.5em;
}
.solution:after {
  content:url('images/divider.gif');
  padding-left:367px;
}

.rationale {
  text-align:left;
  line-height:1.7em;
}
.rationale p {
  margin-top:0;
  margin-bottom:1em;
}
.rationale ul {
  list-style-image:url('images/diamond.gif');
  padding:0 0 0 36px; 
  margin:8px 0 12px 0;
}
.rationale li {
  padding:0;
  margin:0;
}
.rationale li p {
  margin-left:0;
  margin-right:0;
}

.indications {
}

.resulting-context {
  font-style:italic;
}
.resulting-context p:after {
  content:"...";
  letter-spacing:+6px;
  padding-left:5px;
}

.related-patterns {
}

.examples {
}

.aliases {
}

.acknowledgements {
}

.pattern-name {
  text-transform:lowercase;
  font-variant:small-caps;
  font-style:normal;
}

.editor {
  padding:2px 6px;
  color:#F00;
}

